.back{
    background-color:cyan;
}
.title{
    position:absolute;
    text-orientation:upright;
    writing-mode:vertical-lr;
    font-size:48px;
    font-family:impact;
    color:black;
}
.container{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    height:40rem;
    width:40rem;
    justify-content:space-between;
    border-width:20px;
    border-color:red;
    border-style:solid;
    border-radius:10px;
}
.box{
    flex:1 0;
    background-color:white;
}
.shake{
    position:absolute;
    left:45%;
    width:120px;
    height:40px;
    font-weight:bold;
    font-size:12px;
    background-color:white;
    border: 4px solid black;
}

.rainbow{
    position:absolute;
    left:32%;
    width:120px;
    height:40px;
    font-weight:bold;
    font-size:12px;
    background-color:white;
    border: 4px solid black;
}
.eraser{
    position:absolute;
    left:58%;
    width:120px;
    height:40px;
    font-weight:bold;
    font-size:12px;
    background-color:white;
    border: 4px solid black;
}